* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}
ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.title,
h1 {
  color: white;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 79px;
  display: flex;
}

.title {
  color: #000000;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .title,
  h1 {
    margin-bottom: 52.67px;
  }
}
@media only screen and (max-width: 768px) {
  .title,
  h1 {
    margin-bottom: 39.5px;
  }
}
.section {
  padding: 134px 45px 134px 45px;
}

/* Media query for mobile devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .section {
    padding-top: 89px;
    padding-bottom: 89px;
  }
}
@media only screen and (max-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .content-container {
    margin: 0px 45px;
  }
}
/* Media query for mobile devices */
@media only screen and (min-width: 476px) and (max-width: 768px) {
  .content-container {
    margin: 0px 30px;
  }
}
@media only screen and (max-width: 475px) {
  .content-container {
    margin: 0px 15px;
  }
}
button {
  border: none !important;
  cursor: pointer;
}

/* the slides */
.slick-slider {
  overflow: hidden !important;
}

/* the parent */
.slick-list {
  margin: 0 -16px !important;
}

/* item */
.slider-item {
  padding: 0 16px !important;
}

.header {
  position: relative;
  margin: 60px 60px 0px 60px;
}
.header__backgroundImage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  border-radius: 4px;
  width: 100%;
  z-index: -1;
  top: 0px !important;
  bottom: 0px !important;
  height: 680px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 127px 0px;
}
.header__content__left img, .header__content__right img {
  height: 100%;
  height: 480px;
}
.header__content__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
.header__content__center span {
  font-weight: 400;
}
.header__content__center h1 {
  margin-top: 10px;
}

.header__contentMobile {
  display: none;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .header {
    margin: 0px 0px 0px 0px;
  }
  .header__backgroundImage {
    height: 650px;
  }
  .header {
    margin-top: 0px;
  }
  .header__content {
    display: none;
  }
  .header__contentMobile {
    margin-top: 60px;
    display: block;
  }
  .header__contentMobile__center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding-top: 45px;
  }
  .header__contentMobile__center span {
    font-weight: 400;
  }
  .header__contentMobile__center h1 {
    margin-top: 10px;
  }
}
.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 105px;
  z-index: 99999999 !important;
}

.header__nav__content {
  transition: top 0.1s ease-in-out;
  border-radius: 4px;
  z-index: 9999999;
  backdrop-filter: blur(25px);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.63), rgba(255, 255, 255, 0) 100%);
  margin-right: 45px;
  margin-left: 45px;
}
.header__nav__content__container {
  padding: 0px 22.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.header__nav__content__container__left span {
  color: rgb(36, 18, 58);
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
}
.header__nav__content__container__left img {
  width: 50px;
  height: auto;
}
.header__nav__content__container__right ul {
  display: flex;
  gap: 28px;
  list-style: none;
}
.header__nav__content__container__right ul li a {
  color: rgb(112, 124, 180);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .header__nav__content {
    margin: 0px;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0) 100%);
  }
  .header__nav__content__container {
    padding: 0px;
    width: 100%;
  }
  .nav {
    top: 0 !important;
    right: 0;
    left: 0;
    margin-right: 0px;
    margin-left: 0px;
  }
}
.nav.scrolled {
  top: 0 !important;
}

.movie-card {
  position: relative;
}
.movie-card__header {
  display: flex;
  justify-content: flex-end;
}
.movie-card__header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px 4px 0px 0px;
  background: rgb(36, 18, 58);
  padding: 7px 25px;
}
.movie-card__body {
  width: 100%;
}
.movie-card__body__image {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px 0px 4px 4px;
}
.movie-card__body img {
  height: 433px;
}
.movie-card__body__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 9999;
  padding: 32px 22px;
  backdrop-filter: blur(4px);
  background: rgba(36, 18, 58, 0.76);
  height: 96px;
  border-radius: 4px 0px 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

footer {
  background: rgb(36, 18, 58);
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}
.footer__content .designer {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.footer__content .social ul {
  display: flex;
  gap: 28px;
}
.footer__content .social ul li a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.detail-section {
  margin-top: 60px;
}

.detail {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}
.detail__genres {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 580px;
  margin-bottom: 45px;
}
.detail__genres__genre {
  background: rgb(112, 124, 180);
  color: rgb(255, 255, 255);
  padding: 10px 23px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail__genres__genre__icon {
  width: 30px;
  height: 30px;
}

.top-content {
  width: 100%;
}

.content-container {
  padding: 0 20px;
}

.backdrop-image {
  width: 100%;
  height: auto;
  display: block;
}

.title-lg-bold {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 20px;
  color: #000;
  text-align: center;
  margin-bottom: 45px;
}

.detail-content {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-top: 20px;
}

.read-more {
  margin: 60px 0px;
  font-weight: 700;
}

.read-more-link {
  margin-top: 40px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(165, 154, 172);
  text-decoration: none;
}

.read-more-link:hover {
  text-decoration: underline;
}

.read-more-list-ul {
  margin-top: 45px;
}
.read-more-list-ul .read-more-list-li {
  margin-top: 22.5px;
}
.read-more-list-ul .read-more-list-li .read-more-list-li-a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 22.5px;
  text-align: left;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .detail {
    flex-direction: column;
  }
}
.breadcrumb {
  margin-top: 60px;
  display: flex;
  justify-content: start;
}
.breadcrumb li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb li a {
  color: #000 !important;
}
.breadcrumb__active {
  color: rgb(80, 68, 88) !important;
}

.star {
  display: flex;
}

.detail_nav {
  top: 0px !important;
}

.no-image {
  width: 112px;
  height: 68px;
  background: #ededef;
  font-size: 12px;
  color: #7a7a7c;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-data {
  font-size: 12px;
  color: #7a7a7c;
}

.no-image-poster {
  width: 100%;
  height: 400px;
  background: #ededef;
  font-size: 12px;
  color: #7a7a7c;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-list {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 12px !important;
}

/*# sourceMappingURL=main.css.map */
