
//colors
$white: #fff;
$black: #000;
$purple58:rgb(36, 18, 58);
$purple76:rgba(36, 18, 58, 0.76);
$purple172:rgb(165, 154, 172);
$purple180:rgb(112, 124, 180);
$red:rgb(162, 0, 64);
$active: rgb(80, 68, 88);

//background - shadow - radius - gradient
$boxShadowImage: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
$borderRadius: 4px 0px 4px 4px;
$borderRadiusContent: 4px ;
$borderRadiusHeader:  4px 4px 0px 0px;
$gradient:  linear-gradient(90.00deg, rgba(255, 255, 255, 0.63),rgba(255, 255, 255, 0) 100%);
$backdropFilter:  blur(25px);


