//base
@import "base/base";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "utils/utils";

//components
@import "components/header";
@import "components/navbar";
@import "components/movieCard";
@import "components/footer";

//detail page
@import "components/detail";

/* the slides */
.slick-slider {
  overflow: hidden!important;
}
/* the parent */
.slick-list {
  margin: 0 -16px!important;
}
/* item */
.slider-item{
  padding: 0 16px!important;
}
